name: Update Naukri Resume for ProfileMAIN

on:
  schedule:
    - cron: '0 0 * * *' # Run daily at midnight :)
  workflow_dispatch:

jobs:
  upload-resume:
    runs-on: naukri-ec2
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload resume to Naukri for Profile1
        # Use ./ format for local actions with act
        uses: Prateek-Wayne/naukri-resume-action@v1.0.1
        with:
          username: ${{ secrets.NAUKRI_USERNAME_MAIN }}
          password: ${{ secrets.NAUKRI_PASSWORD_MAIN }}
          profile_id: ${{ secrets.NAUKRI_PROFILE_ID_MAIN }}
          resume_path: |-
            ./resumes/PRATEEK__RESUME.pdf
